@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');

$primary-text-color: #2C2D32;
$secondly-text-color: #7F2736;

// ------------------Reset styles------------------------------------------------------------------------

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus,a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}

// --------------------------------------------------------------------------------------------------------

body{
    height: 100px;
    color: $primary-text-color;
    font-family: 'Poppins', sans-serif;
}

// -------------------------------------------------------------------------------------------------------


.header{
    width: 100%;
    background-color: #F0C53E;
    border-bottom-left-radius: 50% 125px;
    border-bottom-right-radius: 50% 125px;
    padding-bottom: 125px;

    @media (max-width: 1280px) {
        border-bottom-left-radius: 50% 100px;
        border-bottom-right-radius: 50% 100px;
        padding-bottom: 100px;
    }
    @media (max-width: 787px) {
        border-bottom-left-radius: 50% 70px;
        border-bottom-right-radius: 50% 70px;
        padding-bottom: 70px;
    }
}
.container{
    max-width: 1720px;
    margin: 0px auto;
    padding: 5px 20px;
    box-sizing: border-box;

    @media (max-width: 1720px) {
        max-width: 1280px;
    }
    @media (max-width: 1280px) {
        max-width: 960px;
    }
    @media (max-width: 960px) {
        max-width: none;
    }
    @media (max-width: 787px) {
        padding: 5px 10px;
    }
}
.navbar{
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    @media (max-width: 1280px) {
        margin-bottom: 10px;
    }
    &__logo{
        position: relative;
        z-index: 23;
        background-image: url(../assets/navbar__logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 210px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        color: #ffffff;
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 0.04em;

        @media (max-width: 1280px) {
            font-size: 26px;
        }
        @media (max-width: 787px) {
            font-size: 20px;
            width: 140px;
            height: 70px;
            line-height: 70px;
        }
    }
    &__menu{
        padding-right: 45px;
    }
    &__separator{
        flex-grow: 1;
    }
}
.menu{
    display: flex;
    &__item{
        display: block;
        text-decoration: none;
        color: #252641;
        font-size: 22px;
        letter-spacing: 0.02em;
        padding: 0px 45px;

        @media (max-width: 1720px) {
            padding: 0px 20px;
        }
    }
}
.button {
    display: inline-block;
    position: relative;
    padding: 0px 40px;
    z-index: 22;
    height: 80px;
    border-radius: 80px;
    background-color: #B25A59;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 22px;
    line-height: 80px;
    transition: all 0.5s ease;
    @media (max-width: 1720px) {
        padding: 0px 20px;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;
        font-size: 20px;
    }
    @media (max-width: 787px) {
        height: 50px;
        line-height: 50px;
        border-radius: 25px;
        font-size: 16px;
    }
    @media (max-width: 540px) {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    &:hover{
        background-color: #914847;
    }
}

.icon{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 1720px) {
        width: 20px;
        height: 20px;
    }

    &_call{
        background-image: url(../assets/icon_call.svg);
    }
}

// ------------------------------------------Burger menu--------------------------------------------------


@media (max-width: 960px) {
    .menu{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F0C53E;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 19;
    }
    .header:target .menu {
        display: flex;
    }
    .menu__item{
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: 600;
    }
}

@media (max-width: 960px) {
    .header__button{
        display: flex;
        align-items: center;
    }
    .close-icon-menu,
    .icon-menu{
        z-index: 20;
        position: relative;
        width: 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000000;
        height: 2px;
    }
    .icon-menu span{
        height: 2px;
        background-color: #000000;
    }
    .close-icon-menu {
        display: none;
    }
    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        background-color: #000000;
        height: 2px;
        transform-origin: 0 0;
    }
    .close-icon-menu::before{
        transform: rotate(33deg);
    }
    .close-icon-menu::after{
        transform: rotate(-33deg);
    }
    .header:target .icon-menu {
        display: none;
    }
    .header:target .close-icon-menu {
        display: flex;
    }
}

// ------------------------------------------------------------------------------------------------

.main-block {
    display: flex;
    flex: 0 1 50%;

    @media (max-width: 1280px) {
        flex-direction: column-reverse;
        flex: 0 1 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

        &__column{
            max-width: 705px;
            padding: 80px 0px 0px;
            margin-right: 90px;
            @media (max-width: 1720px) {
                margin-right: 20px;
            }
            @media (max-width: 1280px) {
                padding: 0;
                margin: 20px 0px 0px;
            }
        }

        &__title{
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
            font-size: 54px;
            line-height: 1.4;

            @media (max-width: 1720px) {
                font-size: 42px;
            }
            @media (max-width: 960px) {
                font-size: 32px;
            }
            @media (max-width: 540px) {
                font-size: 24px;
            }

                &_red{
                    color: $secondly-text-color;
                }
        }

        &__text{
            margin: 50px 0px;
            font-size: 24px;
            line-height: 160%;
            color: #464646;
            @media (max-width: 1720px) {
                font-size: 22px;
                margin: 30px 0px;
            }
            @media (max-width: 960px) {
                font-size: 22px;
                margin: 20px 0px;
            }
            @media (max-width: 787px) {
                font-size: 18px;
                margin: 10px 0px;
            }
            @media (max-width: 520px) {
                font-size: 14px;
            }
        }

        &__button{
            z-index: 0;

            &_video{
                background-color: transparent;
                color: #252641;
                margin-left: 5px;
                z-index: 0;
                padding: 0px 40px 0px 0px;

                @media (max-width: 1720px) {
                    margin: 20px 0px 0px;
                    padding: 0px 10px 0px 0px;
                }
                @media (max-width: 540px) {
                    margin-top: 10px;
                }

                &:hover{
                    color: #ffffff;
                }
            }
        }
    
        &__image{
            position: relative;
            @media (max-width: 1720px) {
                img{
                    max-width: 800px;
                }
            }
            @media (max-width: 960px) {
                img{
                    max-width: 700px;
                }
            }
            @media (max-width: 787px) {
                img{
                    max-width: 450px;
                }
            }
            @media (max-width: 540px) {
                img{
                    display: block;
                    max-width: 300px;
                    margin: 0 auto;
                }
            }
        }
}
.icon_button {
    background-image: url(../assets/icon__video.svg);
    width: 80px;
    height: 80px;

    @media (max-width: 1720px) {
        width: 60px;
        height: 60px;
    }
    @media (max-width: 787px) {
        width: 50px;
        height: 50px;
        padding: 0px;
    }
    @media (max-width: 540px) {
        width: 40px;
        height: 40px;
        padding: 0px;
    }
}
.insert{
    &_trip, &_plan{
        position: absolute;
        z-index: 2;
        bottom: 38px;
        left: -27px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        padding: 25px 105px 28px 16px;
        display: flex;
        flex: 0 1 50%;
        @media (max-width: 1720px) {
            bottom: 30px;
            padding: 20px 80px 20px 10px;
        }
        @media (max-width: 960px) {
            bottom: 20px;
            padding: 10px 70px 10px 10px;
        }
        @media (max-width: 787px) {
            bottom: 10px;
            padding: 5px 30px 5px 5px;
        }
        @media (max-width: 540px) {
            position: static;
            width: 100%;
        }
    }

    &_trip{
        @media (max-width: 540px) {
            margin: 15px 0px;
        }
    }
    &_plan{
        bottom: 460px;
        left: -15px;
        padding: 25px 57px 16px 28px;
        @media (max-width: 1720px) {
            bottom: 400px;
            padding: 10px 45px 10px 20px;
        }
        @media (max-width: 960px) {
            bottom: 350px;
        }
        @media (max-width: 787px) {
            bottom: 180px;
            padding: 5px 30px 5px 5px;
        }
    }

    &__item{
        @media (max-width: 540px) {
            width: 200px;
        }
    }
    &__icon_trip{
        margin-right: 7px;

        @media (max-width: 960px) {
            width: 60px;
        }
        @media (max-width: 787px) {
            width: 40px;
        }
    }

    &__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 180%;
        letter-spacing: 0.02em;
        color: #595959;

        @media (max-width: 1720px) {
            font-size: 22px;
        }
        @media (max-width: 960px) {
            font-size: 20px;
        }
        @media (max-width: 787px) {
            font-size: 18px;
        }
    }

    &__text{
        font-weight: 600;
        font-size: 20px;
        line-height: 1.8;
        letter-spacing: 0.02em;
        color: #545567;

        @media (max-width: 1720px) {
            font-size: 18px;
            line-height: 1;
        }
        @media (max-width: 787px) {
            font-size: 16px;
        }
        @media (max-width: 540px) {
            font-size: 14px;
        }
    }

    &__button{
        position: relative;
        z-index: 4;
        font-size: 20px;
        line-height: 1.3;
        margin-top: 20px;
        @media (max-width: 787px) {
            margin-top: 10px;
            font-size: 16px;
        }
        @media (max-width: 540px) {
            font-size: 14px;
        }
    }

    &__icon_plan{
        margin-right: 32px;
        @media (max-width: 960px) {
            margin-right: 20px;
        }
        @media (max-width: 787px) {
            margin-right: 10px;
        }
        @media (max-width: 787px) {
            width: 40px;
        }
    }
}

// -----------------------------------------------------------------------------------------------------

.check-tour {
    max-width: 1470px;
    margin: 165px auto;
    padding: 0px 5px;

    @media (max-width: 1720px) {
        max-width: 1080px;
    }
    @media (max-width: 1280px) {
        max-width: 787px;
        margin: 100px auto;
    }
    @media (max-width: 960px) {
        margin: 60px auto;
    }

    &__text-block{
        max-width: 840px;
        margin: 0px auto;

        @media (max-width: 1280px) {
            max-width: none;
        }
    }

    &__text{
        margin: 20px 0px 75px 0px;

        @media (max-width: 1280px) {
            margin: 20px 0px 30px 0px;
        }
        @media (max-width: 787px) {
            margin: 10px 0px 20px;
        }
    }

    &__column{
        display: flex;
        flex: 0 1 33.333%;
        align-items: center;
        justify-content: center;
        text-align: center;

        @media (max-width: 1280px) {
            flex: 0 1 50%;
            flex-wrap: wrap;
        }
    }

    &__item{
        @media (max-width: 787px) {
            flex: 0 1 100%;
        }

        &_img{
            img{
                box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
                border-radius: 20px;
                width: 100%;
                @media (max-width: 1720px) {
                    max-width: 340px;
                }
                @media (max-width: 540px) {
                    max-width: 250px;
                }
            }
        }

        &_country{
            margin-top: 30px;
            font-weight: 500;
            font-size: 30px;
            line-height: 1.5;
            text-align: center;
            color: $secondly-text-color;

            @media (max-width: 1280px) {
                margin-top: 10px
            }
            @media (max-width: 960px) {
                font-size: 24px;
            }
            @media (max-width: 540px) {
                font-size: 18px;
            }
        }
    }
    &__item:not(:last-child){
        margin-right: 60px;

        @media (max-width: 1720px) {
            margin-right: 30px;
        }
    }
    &__item:first-child {
        @media (max-width: 1280px) {
            margin-right: 30px;
        }
        @media (max-width: 787px) {
            margin-right: 0px;
        }
    }
    &__item:nth-child(2) {

        @media (max-width: 1280px) {
            margin-right: 0px;
        }
        @media (max-width: 787px) {
            margin-top: 20px;
        }
    }
    &__item:last-child {
        @media (max-width: 1280px) {
            margin-top: 20px;
        }
    }
}
.text-block{
    text-align: center;

    &__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.8;

        @media (max-width: 1720px) {
            font-size: 30px;
        }
        @media (max-width: 787px) {
            font-size: 26px;
        }
        @media (max-width: 540px) {
            font-size: 20px;
        }

        &_red{
            color: $secondly-text-color;
        }
    }

    &__text{
        font-size: 24px;
        line-height: 1.8;

        @media (max-width: 1720px) {
            font-size: 22px;
        }
        @media (max-width: 1280px) {
            font-size: 20px;
        }
        @media (max-width: 787px) {
            font-size: 18px;
        }
        @media (max-width: 540px) {
            font-size: 14px;
        }
    }
}

// ------------------------------------------------------------------------------------------------------

.glob-accept {
    max-width: 1300px;
    padding: 0;
    @media (max-width: 1720px) {
        max-width: 1080px;
        padding: 0px 5px;
    }
    @media (max-width: 1280px) {
        max-width: 787px;
    }

    &__text-block{
        max-width: 1100px;
        margin: 0px auto;

        @media (max-width: 1720px) {
            max-width: 840px;
        }
    }

    &__text{
        margin: 20px 0px 80px;
        @media (max-width: 1280px) {
            margin: 10px 0px 40px;
        }
        @media (max-width: 540px) {
            margin: 10px 0px 20px;
        }
    }

    &__column{
        display: flex;
        flex: 0 1 50%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__item{
        width: 600px;
        height: 400px;
        position: relative;
        border: 1px solid #000000;
        border-radius: 20px;
        background: url(../assets/glob-accept_1.png) center center no-repeat;
        background-size: contain;

        &:first-child{
            margin-right: 100px;
            background: url(../assets/glob-accept_1.png) center center no-repeat;
            background-size: contain;

            @media (max-width: 1720px) {
                margin-right: 50px;
            }
            @media (max-width: 787px) {
                margin-right: 20px;
            }
            @media (max-width: 540px) {
                margin: 0px 0px 20px 0px;
            }
        }

        @media (max-width: 1720px) {
            width: 510px;
        }
        @media (max-width: 1280px) {
            width: 360px;
            height: 300px;
        }
        @media (max-width: 787px) {
            width: 250px;
            height: 200px;
        }

        @media (max-width: 540px) {
            flex: 0 1 100%;
        }
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.5s linear;
        border-radius: 20px;
        text-align: center;
        color: #FFFFFF;
        
        &:hover{
            height: 100%;
            opacity: 1;
            background-color: rgba(127, 39, 54, 0.8);
        }

        &_title{
            font-weight: 600;
            font-size: 32px;
            line-height: 1.5;
            margin: 132px 0px 15px 0px;
            
            @media (max-width: 1280px) {
                font-size: 24px;
                margin: 100px 0px 10px 0px;
            }
            @media (max-width: 787px) {
                font-size: 18px;
                margin: 50px 0px 10px 0px;
            }
        }

        &_button{
            font-weight: 500;
            font-size: 22px;
            border: 1px solid #FFFFFF;
            background-color: transparent;

            &:hover {
                background-color: #ffffff;
                color: $secondly-text-color;
            }

            @media (max-width: 1280px) {
                font-size: 20px;
            }
            @media (max-width: 787px) {
                font-size: 14px;
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------

.watch-tour {
    max-width: 1550px;
    margin: 235px auto;

    @media (max-width: 1720px) {
        max-width: 1080px;
    }
    @media (max-width: 1280px) {
        max-width: 787px;
        margin: 120px auto;
    }
    @media (max-width: 787px) {
        margin: 60px auto;
    }

    &__column{
        display: flex;
        flex: 0 1 50%;
        @media (max-width: 1280px) {
            flex: 0 1 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item{
        position: relative;

        &:first-child{
            margin-right: 70px;

            @media (max-width: 1280px) {
                margin-right: 0px;
            }
        }
    }

    &__title{
        position: relative;
        z-index: 7;
        font-weight: 500;
    }

    &__text{
        margin: 70px 0px 50px 0px;
        @media (max-width: 1720px) {
            margin: 30px 0px 20px 0px;
        }
        @media (max-width: 787px) {
            margin: 10px 0px 5px 0px;
        }
    }

    &__link{
        font-weight: 400;
        font-size: 22px;
        line-height: 180%;
        text-decoration-line: underline;
        color: #EE5060;

        @media (max-width: 1280px) {
            display: block;
            margin-bottom: 20px;
            font-size: 16px;
        }
    }

    &__element_1{
        position: absolute;
        top: -10px;
        left: -25px;
        @media (max-width: 1280px) {
            left: 180px;
        }
        @media (max-width: 787px) {
            display: none;
        }
    }
    
    &__element_2{
        position: absolute;
        top: 230px;
        right: 30px;

        @media (max-width: 1720px) {
            display: none;
        }
    }

    &__element_3{
        position: absolute;
        top: -20px;
        left: -20px;
    }
    &__element_3, &__element_4 {
        @media (max-width: 570px) {
            display: none;
        }
    }
    &__element_4{
        position: absolute;
        bottom: -20px;
        right: -20px;

        @media (max-width: 1720px) {
            bottom: 70px;
        }
        @media (max-width: 1280px) {
            bottom: -20px;
        }

        & img{
            @media (max-width: 1720px) {
                width: 138px;
            }
        }
    }

    &__img{
        position: relative;
        z-index: 7;
        border-radius: 20px;
        @media (max-width: 1720px) {
            max-width: 500px;
        }
        @media (max-width: 570px) {
            width: 100%;
        }
    }

    &__icon{
        position: absolute;
        z-index: 10;
        top: calc(50% - 40px);
        left: calc(50% - 40px);

        @media (max-width: 1720px) {
            top: calc(40% - 30px);
            left: calc(50% - 30px);
        }
        @media (max-width: 1280px) {
            top: calc(50% - 25px);
            left: calc(50% - 25px);
        }
        @media (max-width: 540px) {
            top: calc(50% - 20px);
            left: calc(50% - 20px);
        }
    }
}

// -------------------------------------------------------------------------------------------------

.our-team {
    max-width: 1580px;

    @media (max-width: 1720px) {
        max-width: 1080px;
    }
    @media (max-width: 1280px) {
        max-width: 787px;
    }

    &__text{
        margin: 20px 0px 100px 0px;

        @media (max-width: 787px) {
            margin: 10px 0px 20px 0px;
        }
    }

    &__body{
        display: flex;
        @media (max-width: 1280px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    &__img{
        flex: 0 1 900px;
        position: relative;
        height: 650px;

        @media (max-width: 1720px) {
            flex: 0 1 650px;
            height: 550px;
        }
        @media (max-width: 1280px) {
            height: 450px;
        }
        @media (max-width: 787px) {
            flex: 0 1 100%;
            height: 300px;
        }

        &_bg, &_1, &_2, &_3, &_4, &_5{
            position: absolute;
            z-index: 4;
        }
        &_1 img, &_2 img, &_3 img, &_4 img, &_5 img {
            border-radius: 20px;
            @media (max-width: 1720px) {
                width: 150px;
            }
            @media (max-width: 787px) {
                width: 100px;
            }
        }

        &_bg{

            & img{
                @media (max-width: 1720px) {
                    width: 600px;
                }
                @media (max-width: 787px) {
                    width: 500px;
                    top: calc(50% - 250px);
                    left: calc(50% - 250px);
                }
                @media (max-width: 787px) {
                    width: 300px;
                }
            }
        }

        &_1, &_2, &_3{
            top: 14.2%;
            left: 50.6%;
            @media (max-width: 1720px) {
                left: 40.6%;
            }
        }
        &_1{
            left: 9.3%;
        }
        &_3{
            top: 42.8%;
        }
        &_4{
            top: 8.2%;
            left: 75.2%;
            @media (max-width: 1280px) {
                top: 14.2%;
            }
        }
        &_5{
            top: 44.6%;
            left: 75.2%;
        }
        &_3, &_5{
            @media (max-width: 1280px) {
                top: 53%;
            }
        }
    }

    &__element_5, &__element_6, &__element_7, &__element_8{
        position: absolute;
        z-index: 0;
    }

    &__element_5{
        top: -75px;
        left: 60px;
    }

    &__element_6{
        top: -70px;
        left: 225px;

        @media (max-width: 1720px) {
            top: -60px;
        }
    }

    &__element_7{
        bottom: 30px;
        right: 30px;

        @media (max-width: 1720px) {
            bottom: 100px;
        }

        @media (max-width: 1280px) {
            bottom: 20px;
        }

        & img{
            @media (max-width: 1720px) {
                width: 140px;
            }
        }
    }

    &__element_8{
        bottom: 100px;
        right: 320px;

        @media (max-width: 1720px) {
            right: 180px;
            bottom: 120px;
        }
        @media (max-width: 1280px) {
            bottom: 30px;
        }
    }

    &__content{
        flex: 0 1 680px;
        padding: 85px 0px 0px 125px;

        @media (max-width: 1720px) {
            flex: 0 1 430px;
            padding: 0px 0px 0px 40px;
        }
        @media (max-width: 1280px) {
            flex: 0 1 100%;
            padding: 0;
        }
    }

    &__cont-title{
        margin-bottom: 50px;
        @media (max-width: 1280px) {
            margin-bottom: 20px;
        }
    }
}
.item-our-team {
    display: flex;
    margin-bottom: 40px;
    @media (max-width: 787px) {
        margin-bottom: 20px;
    }

    &__icon{
        img {
            width: 25px;
            margin-top: 10px;
            @media (max-width: 520px) {
                width: 15px;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        padding-left: 60px;
        @media (max-width: 1720px) {
            padding-left: 40px;
        }
        @media (max-width: 540px) {
            padding-left: 20px;
        }
    }
}

// --------------------------------------------------------------------------------------------------------

.choose-us {
    max-width: 1470px;
    margin: 75px auto 195px;

    @media (max-width: 1720px) {
        max-width: 1080px;
    }
    @media (max-width: 1280px) {
        max-width: 787px;
        margin: 60px auto;
    }

    &__text-block{
        max-width: 840px;
        margin: 0 auto;

        @media (max-width: 1280px) {
            max-width: none;
        }
    }

    &__text{
        margin: 10px 0px 115px 0px;

        @media (max-width: 960px) {
            margin: 10px 0px 70px 0px;
        }
    }

    &__column{
        display: flex;
        flex: 0 1 33.333%;
        align-items: center;
        justify-content: center;

        @media (max-width: 1280px) {
            flex-wrap: wrap;
        }
    }

    &__item{
        position: relative;
        height: 100%;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
        border-radius: 20px;
        padding: 120px 50px 50px;

        &:not(:last-child){
            margin-right: 60px;

            @media (max-width: 1280px) {
                margin-right: 0;
            }
        }

        @media (max-width: 960px) {
            padding: 100px 40px 50px;
        }

        @media (max-width: 1280px) {
            margin-bottom: 70px;
        }
    }

    &__icon{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);

        @media (max-width: 960px) {
            width: 70px;
            height: 70px;
            top: -35px;
            left: calc(50% - 35px);
        }
        @media (max-width: 520px) {
            width: 60px;
            height: 60px;
            top: -30px;
            left: calc(50% - 30px);
        }

        &_red{
            background: url(../assets/choose-us__icon1.svg) center center no-repeat #EE5060;
        }

        &_yellow{
            background: url(../assets/choose-us__icon2.svg) center center no-repeat #F0C53E;
        }

        &_brown{
            background: url(../assets/choose-us__icon3.svg) center center no-repeat #AF6C2C;
        }
    }

    &__title{
        font-weight: 500;
        font-size: 30px;
        line-height: 1.5;
        text-align: center;
        color: $secondly-text-color;
        @media (max-width: 960px) {
            font-size: 24px;
        }
        @media (max-width: 787px) {
            font-size: 22px;
        }
    }

    &__subtitle{
        font-size: 20px;
        text-align: center;
        margin-top: 70px;

        @media (max-width: 1280px) {
            margin-top: 40px;
        }
        @media (max-width: 787px) {
            font-size: 16px;
            margin-top: 20px;
        }
        @media (max-width: 540px) {
            font-size: 14px;
        }
    }
}

// ------------------------------------------------------------------------------------------------

.reviews {
    max-width: 1520px;

    @media (max-width: 1720px) {
        max-width: 1080px;
    }
    @media (max-width: 1280px) {
        max-width: 787px;
    }

    &__body{
        display: flex;

        @media (max-width: 1280px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    &__column{
        flex: 0 1 40%;

        @media (max-width: 1280px) {
            flex: 0 1 100%;
            text-align: center;
        }
    }

    &__testimonial{
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        @media (max-width: 787px) {
            font-size: 16px;
        }
    }

    &__title{
        font-family: 'Nunito Sans';
        font-weight: 700;
        font-size: 60px;
        line-height: 1.4;
        color: $secondly-text-color;
        margin: 30px 0px;
        @media (max-width: 1720px) {
            margin: 20px 0px;
            font-size: 36px;
        }
        @media (max-width: 1280px) {
            font-size: 30px;
        }
        @media (max-width: 960px) {
            font-size: 26px;
        }
        @media (max-width: 787px) {
            font-size: 24px;
        }
    }

    &__text{
        margin-bottom: 40px;

        @media (max-width: 1280px) {
            margin-bottom: 20px;
        }
    }

    &__button{
        z-index: 0;
        background-color: transparent;
        border: 1px solid #EE5060;
        border-right: none;
        box-sizing: border-box;
        padding: 0px 0px 0px 55px;
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #EE5060;

        @media (max-width: 1280px) {
            margin-bottom: 30px;
        }

        @media (max-width: 540px) {
            height: 40px;
            padding-left: 10px;
            font-size: 14px;
        }

        &:hover{
            color: white;
        }
    }
}
.icon_arrow{
    margin-left: 55px;
    background-image: url(../assets/reviews__button.svg);

    @media (max-width: 787px) {
        margin-left: 10px;
    }
}
.slider{
    margin-left: 150px;
    position: relative;

    @media (max-width: 1720px) {
        margin-left: 50px;
    }

    @media (max-width: 1280px) {
        margin: 0px;
        text-align: center;
    }

    &__img{
        position: relative;
        &_bg{
            @media (max-width: 1720px) {
                width: 400px;
            }
            @media (max-width: 540px) {
                width: 300px;
            }
        }
    }

    &__icon{
        position: absolute;
        width: 80px;
        right: -60px;
        top: calc(50% - 40px);

        @media (max-width: 1720px) {
            width: 60px;
            right: -40px;
            top: calc(50% - 30px);
        }

        @media (max-width: 1280px) {
            width: 50px;
            right: 15px;
            top: 225px;
        }
        @media (max-width: 540px) {
            width: 40px;
            right: 70px;
            top: 170px;
        }
        @media (max-width: 450px) {
            right: 35px;
        }
        @media (max-width: 390px) {
            right: 0px;
        }
    }
}
.insert-review {
    position: absolute;
    bottom: -120px;
    left: 70px;
    width: 680px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-left: 18px solid #EE5060;
    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
    border-radius: 20px;
    padding: 40px 60px 35px 40px;
    font-family: 'Nunito Sans';

    @media (max-width: 1720px) {
        width: 500px;
        padding: 20px 30px 25px 20px;
    }
    @media (max-width: 1280px) {
        position: static;
        margin-top: 20px;
    }
    @media (max-width: 540px) {
        width: auto;
    }

    &__text{
        font-size: 22px;
        border-left: 1px solid #BDBDD1;
        padding-left: 30px;

        @media (max-width: 1280px) {
            font-size: 20px;
        }
        @media (max-width: 787px) {
            font-size: 18px;
            padding-left: 10px;
        }
        @media (max-width: 540px) {
            font-size: 14px;
        }
    }

    &__sign{
        display: flex;
        justify-content: space-between;
        margin: 30px 0px 0px 30px;
    }

    &__stars{
        & img{
            @media (max-width: 960px) {
            width: 100px;
            }
        }
    }

    &__amount{
        font-size: 18px;
        font-weight: 600;
        line-height: 180%;
        letter-spacing: 0.02em;
        color: #80819A;
        @media (max-width: 540px) {
            font-size: 14px;
        }
    }

    &__name{
        font-size: 24px;
        font-weight: 600;
        line-height: 1.8;
        @media (max-width: 1280px) {
            font-size: 20px;
        }
        @media (max-width: 960px) {
            font-size: 18px;
        }
        @media (max-width: 540px) {
            font-size: 14px;
        }
    }
}

// -----------------------------------------------------------------------------------------------------

.news {
    max-width: 1560px;
    margin: 330px auto 130px;

    @media (max-width: 1720px) {
        max-width: 1080px;
    }
    @media (max-width: 1280px) {
        max-width: 787px;
        margin: 100px auto 50px;
    }
    @media (max-width: 787px) {
        margin: 60px auto;
    }

    &__title{
        font-family: 'Nunito Sans';
        color: $secondly-text-color;
        text-align: center;
    }

    &__subtitle{
        font-family: 'Nunito Sans';
        text-align: center;
        margin: 20px 0px 100px;
        @media (max-width: 1720px) {
            margin-bottom: 30px;
        }
    }

    &__text{
        font-size: 20px;
        margin: 25px 0px 20px;
        @media (max-width: 787px) {
            font-size: 16px;
        }
        @media (max-width: 540px) {
            font-size: 14px;
            margin: 10px 0px 10px;
        }
    }

    &__body{
        display: flex;
        flex: 0 1 50%;
        justify-content: center;

        @media (max-width: 1720px) {
            flex: 0 1 100%;
            flex-wrap: wrap;
        }
        @media (max-width: 787px) {
            text-align: center;
        }
    }

    &__column{
        &:first-child{
            margin-right: 120px;

            @media (max-width: 1720px) {
                margin-right: 0;
            }
        }
    }

    &__img{
        & img{
            width: 100%;
        }
    }

    &__name{
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: inline-block;
        background-color: #F0C53E;
        border-radius: 80px;
        padding: 0px 35px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.8;
        letter-spacing: 0.02em;
        margin: 40px 0px 20px;

        @media (max-width: 787px) {
            position: static;
            margin: 10px 0px;
            display: block;
            font-size: 14px;
        }

        &_static{
            position: static;
        }
    }

    &__link{
        text-align: left;
        font-weight: 500;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.8;
        color: $secondly-text-color;

        @media (max-width: 787px) {
            font-size: 20px;
            display: inline-block;
        }

        &:hover{
            text-decoration: underline;
        }

        &_small{
            font-size: 22px;
            @media (max-width: 540px) {
                font-size: 18px;
            }
        }

        &_red{
            @media (max-width: 1720px) {
                display: inline-block;
                margin-bottom: 15px;
            }
        }
    }

    &__item{
        display: flex;
        flex: 0 1 50%;
        margin-bottom: 45px;
        align-items: center;
        justify-content: center;

        @media (max-width: 787px) {
            margin-bottom: 15px;
            flex-wrap: wrap;
            flex: 0 1 100%;
        }

        &_img{  
            position: relative;
            margin-right: 40px;
            @media (max-width: 787px) {
                position: static;
                margin-right: 0;
            }
        }
    }
}

// ----------------------------------------------------------------------------------------------------

.footer {
    background-color: $secondly-text-color;
    width: 100%;
    padding-top: 70px;

    &__container{
        max-width: 620px;
        margin: 0px auto;

        @media (max-width: 787px) {
            max-width: none;
            padding: 0px 10px;
            text-align: center;
        }
    }

    &__logo-block{
        max-width: 440px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        background-image: url(../assets/footer__logo.svg);
        z-index: 0;
    }

    &__logo-description{
        max-width: 155px;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.04em;
        color: #FFFFFF;

        @media (max-width: 787px) {
            font-size: 20px;
        }
        @media (max-width: 540px) {
            font-size: 18px;
        }
    }

    &__title{
        font-weight: 500;
        font-size: 26px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color: #F0C53E;
        margin: 85px 0px 20px;

        @media (max-width: 787px) {
            font-size: 22px;
        }
        @media (max-width: 540px) {
            font-size: 18px;
            margin: 45px 0px 20px;
        }
    }

    &__input{
        width: 400px;
        height: 60px;
        line-height: 60px;
        border: 1px solid #F0C53E;
        box-sizing: border-box;
        border-radius: 80px;
        background-color: transparent;
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
        padding-left: 30px;
        color: #fff;

        @media (max-width: 787px) {
            margin: 0px 0px 20px 0px;
            height: 50px;
            line-height: 50px;
        }
        @media (max-width: 440px) {
            font-size: 14px;
            width: 100%;
        }

        &::placeholder{
            letter-spacing: 0.04em;
            color: #FFFFFF;
        }
    }

    &__button{
        height: 60px;
        padding: 0px 35px;
        font-weight: 500;
        font-size: 22px;
        line-height: 60px;
        color: #FFFFFF;
        background: linear-gradient(105.5deg, #EE5060 19.57%, #B25A59 78.85%);
        border-radius: 60px;
        cursor: pointer;

        &:hover {
            background: linear-gradient(105.5deg, #B25A59 19.57%, #EE5060 78.85%);
        }

        @media (max-width: 787px) {
            font-size: 20px;
            width: 400px;
            height: 50px;
            line-height: 50px;
        }

        @media (max-width: 440px) {
            font-size: 14px;
            width: 100%;
        }
    }

    &__link-block, &__copy{
        margin: 95px 0px 20px;
        text-align: center;
        font-size: 22px;
        color: #A7283E;

        @media (max-width: 787px) {
            font-size: 20px;
        }
        @media (max-width: 540px) {
            font-size: 16px;
            margin: 45px 0px 20px;
        }
    }

    &__link, &__copy{
        color: #A7283E;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.04em;
    }

    &__link:hover{
        text-decoration: underline;
    }

    &__separator{
        margin: 0px 20px;

        @media (max-width: 540px) {
            margin: 0px 10px;
        }
    }

    &__copy{
        margin: 0px 0px 40px 0px;
    }
}

// --------------------------------------------------------------------------------------------------

.tablet-hidden{
    @media (max-width: 1280px) {
        display: none;
    }
}
.tel-hidden{
    @media (max-width: 787px) {
        display: none;
    }
}